zig/build_system/hello_zig_build/buildme/.idea
zig/build_system/hello_zig_build/buildme/buildme.iml
zig/wasm/js_interop/static/wasmtest.wasm
zig/wasm/js_interop/static/wasmtest.wasm.o
zig/zig_guide/file_system/junk_file.txt
zig/zig_guide/file_system/junk_file2.txt
zig/experiments/sqlite/hellolite/hellolite.db
zig-cache
.zig-cache
zig-out
zig/experiments/wasm/checkerboard_raw/static/checkerboard.wasm
zig/experiments/wasm/checkerboard_raw/static/checkerboard.wasm.o
