zig/build_system/hello_zig_build/buildme/.idea
zig/build_system/hello_zig_build/buildme/buildme.iml
zig/wasm/js_interop/static/wasmtest.wasm
zig/wasm/js_interop/static/wasmtest.wasm.o
zig/zig_guide/file_system/junk_file.txt
zig/zig_guide/file_system/junk_file2.txt
zig/experiments/sqlite/hellolite/hellolite.db
zig-cache
.zig-cache
zig-out
zig/experiments/wasm/checkerboard_raw/static/checkerboard.wasm
zig/experiments/wasm/checkerboard_raw/static/checkerboard.wasm.o
zig/wasm/hello_wasm/site/module.wasm
zig/wasm/hello_wasm/site/module.wasm.o
zig/wasm/dom/site/module.wasm
zig/wasm/dom/site
zig/with_python/python_pi/zig/libcalc.dylib
zig/with_python/python_pi/zig/libcalc.dylib.o
zig/with_python/python_pi/py_calc/__pycache__
