zig/build_system/hello_zig_build/buildme/.idea
zig/build_system/hello_zig_build/buildme/buildme.iml
zig/raylib/zigbounce/zig-cache
zig/raylib/zigbounce/zig-out
zig/wasm/js_interop/static/wasmtest.wasm
zig/wasm/js_interop/static/wasmtest.wasm.o
zig/wasm/js_interop/zig-cache
zig/learning/zig_master/builder_bob/.zig-cache
zig/learning/zig_master/builder_bob/zig-out
zig/wasm/bouncing_lines/.zig-cache
zig/wasm/bouncing_lines/zig-out
zig/zig_guide/file_system/junk_file.txt
zig/zig_guide/file_system/junk_file2.txt
zig/webui/hello_webui/.zig-cache
zig/webui/hello_webui/zig-out
